@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  margin:0;
  background-color: #f8f8ff;
  font-family: "Questrial", sans-serif;
}
/* Container for the whole page */
.container {
  position: relative;
  height: 100%;
  width: 100vw;
  background-color: #f8f8ff;
  display: flex;
  justify-content: flex;
  /* align-items:center; */
  text-align: center;
  margin: 0;
}
/* .content{
} */
/* Navbar Home */
.container h4 {
  font-size: 1.8rem;
  margin-left: 0.4rem;
  color: black;
  margin-top: 3vh;
}

#services-container {
  display: flex;
  flex-direction: column;
}
/* Home.js schedule block formation */
#schedule-form {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  text-align: left;
}
#schedule-form h5 {
  margin: 7px;
}
/* App.js headspace for Detail Works VT. Might be better to move this to Home.js? */
#app-header {
  /* font-size: 2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Home.js. Container for the home page */
.home-container {
  text-align: left;
  margin-right: 25vw;
  margin-left: 5vw;
  border-bottom: 1px dotted grey;
}
/* Detail works appointment schedule header, information in a box above */
#appointment-scheduler-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  height: 27vh;

  background-color: #f8f8ff;
}

/* NavBar.js container for the h8 and higher that ideally persists on all pages */
#NavBar-container {
  position: fixed;
  left: 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150vh;
  width: 12vw;
  background-color: #ed463e;
}
/* This "a" appears to have a direct effect. Not fixing what isn't broke. */
#NavBar-container a {
  text-decoration: none;
  color: white;
}
/* Standalone h2 header that exists entirely within home.js inside .home-container */
#schedule-header {
  margin-left: 5vw;
}
/* Cancel.js standalone button, no container (yet) */
#cancel-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* AdminPage.js container for the box that appointments currently exist in */

#appointment-page-container {
  display: flex;
  flex-direction: row;
}

#appointment-container {
  /* box-shadow: 0 0 5px gray; */
  border: 2px outset lightgray;
  margin-bottom: 3%;
  margin-left: 100%;
  width: 30vw;
  background-color: #f8f8ff;
}
/* AdminSignIn.js standalone containerless section  */
.admin-signin {
  height: 30vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
  margin-left: 25vw;
  /* align-items: center;
  justify-content: center; */
}

#signin-form {
  margin-left: 5vw;
}

/* Update appointment container */

/* AdminPage.js Admin container */
.admin-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
  background-color: #f8f8ff;
  margin-left: 35vw;
}
/* Admin page container */
.admin-header {
  /* height: 24vh;
  width: 100vw; */
  display: flex;
  flex-direction: row;
  padding-bottom: 15vh;
}
/* Export details block section */
#export-details {
  height: 15vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
}
/* container for the search bars */
#search-container {
  height: 15vh;
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#admin-buttons-container {
  display: flex;
  flex-direction: column;
}

#admin-scheduler-container {
  padding-bottom: 125vh;
}


#Filter {
  display: flex;
  flex-direction: row;
}

#admin-page {
  display: flex;
  flex-direction: row;
}

.admin-container h1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

/*popup when emails dont match*/
#email-match {
  color: white;
  background-color: red;
  width: 11vw;
}

/*flexbox for name section of form*/
#form-name {
  display: flex;
  flex-direction: row;
}

.first-name {
  margin-right: 5px;
}

/*flexbox for day and time section of form*/
#date-time {
  display: flex;
  flex-direction: row;
}

#day {
  margin-right: 5px;
}
/*flexbox for email section of form*/
#email-form {
  display: flex;
  flex-direction: row;
}

#email {
  margin-right: 5px;
}

.submit {
  margin-bottom: 1%;
}

#sign-out:hover {
  cursor: pointer;
}

#sign-out {
  color: white;
}

.asterisk {
  color: red;
  font-size: larger;
}

.submit {
  background-color: #ed463e;
  color: white;
  border: 1px solid black;
}

/*styling for admin sign in button*/
.admin-sign-in {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 1%;
  margin-top: 1%;
  text-decoration: none;
}

#admin-sign-in-link {
  text-decoration: none;
  color:  #ed463e
}

#logo {
  margin-top: 2%;
}
